*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero,
.content,
.quote,
.call {
  /* border: 2px solid greenyellow; */
  flex: 1;
  /* padding-top: 25px; */
  padding: 25px 80px 30px;
}
button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 5px;
  border: 1px solid #1f2937;
  padding: 5px 20px;
}
body {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}
.nav-list,
.list-item {
  list-style: none;
  display: inline-block;
}
.list-item {
  padding: 10px;
}
.navbar {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
}
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
.ph {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phText {
  justify-content: center;
}
.heroLeft,
.ph {
  /* border: 2px solid red; */
  width: 50%;
}
.info {
  max-width: 200px;
}
.title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
}
.infoContainer {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.card {
  border: 3px solid #3882f6;
  border-radius: 7px;
  min-width: 100px;
  min-height: 100px;
}
.quote {
  background-color: #e5e7eb;
}

.call {
  background-color: #3882f6;
  display: flex;
  justify-content: space-evenly;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.callLeft {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 75%;
  flex-direction: column;
  text-align: ;
}
#button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 5px 20px;
}
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px;
}
a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
p,
.ph {
  color: #e5e7eb;
  font-size: 18px;
}
.phText,
h2 {
  color: #e5e7eb;
}
.quoteText {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}
.sig {
  color: black;
  text-align: right;
  font-weight: 700;
}
